@font-face {
  font-family: w95fa;
  font-weight: 400;
  src: url(../fonts/w95fa.woff);
}

body {
  font-family: "w95fa", sans-serif;
  background: #4b554a;
  background-image: url('../images/stardewvalley.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  font-size:12px;
  font-family: "w95fa", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* Align containers at the top */
  gap: 1em;
  width: fit-content;
  margin: auto;
}

.left-container {
  max-width: 200px;
  background: #4b554a;
  padding: 5px;
  margin: 0;
  height: auto; /* Adjusts according to its content */
}

.left-container img {
  max-width: 100px;
  height: auto;
}

.main {
  max-width: 600px;
  border: 4px solid #4c5549;
  margin: 0 auto;
}

.main-lost {
  max-width: 600px;
  border: 4px solid #4c5549;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.updates {
  border: 4px solid #4c5549;
  margin: 0 auto;
  height: 200px;
  overflow-y: auto;
}

.header {
  border-bottom:4px solid #4c5549;
  padding:0px;
  overflow-y:auto;
}

.header img {
  max-width:100%;
  padding:0px;
  display:block;
}

.text {
  background:#e8e1cb;
  align-items: center;
  padding:1em;
}

.text-lost {
  background:#e8e1cb;
  padding:1em;
  text-align: center;
}

.text img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-image 0.3s ease;
  }
.text img:hover {
  filter: brightness(1.15);
}
.text-lost img {
  max-width: 400px;
  height: auto;
  border: 4px solid #854851; /* Adjust thickness and color as needed */
  border-radius: 8px; /* Optional: rounds the corners */
  padding: 4px; /* Optional: adds space between the image and the border */
}

.text img:hover {
  background: 4px solid #854851;
}

.sub {
  font-size:16px;
  font-weight:bold;
  color: #e8e1cb;
  background:#4b554a;
  padding-top:3px;
  padding-bottom:6px;
  text-align:center;
}

.left-sub {
  font-size:16px;
  font-weight:bold;
  color: #e8e1cb;
  background:#4b554a;
  text-align:center;
}

.left-sub img {
  margin: 0;
  padding: 0;
}

.separator {
  width: 100%;
  height: 50px;
  background-image: url('../images/tea-leaves.PNG');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
  background-size: contain;
}

.separator img {
  height: 30px;
  width: auto;
  display: block;
}

.sub img {
  height: 15px;
  width: auto;
}

.links ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
}

.links li {
  list-style-type: none;
  display: inline-block;
  padding: 3px 10px 3px 10px;
  margin: 3px 2px 3px 2px;
  background: #62272b;
}

.links a {
  color: #e8e1cb;
  text-decoration:none;
  font-weight:bold;
}

.links li:hover {
  background: #774459;
}

.links {
  position: relative;
  font-size: 12px;
  background: #4b554a;
  padding-top: 1px;
  padding-bottom: 5px;
  text-align: center;
  display: flex; /* Align the links horizontally */
  flex-wrap: wrap; /* Allow links to wrap if needed */
  gap: 0.5em; /* Space between each link */
  justify-content: flex-start; /* Align links to the left */
}

.home-gif {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
}

.home-gif img {
  max-width: 100px;
  height: auto;
}

.footer {
  font-size:12px;
  color:white;
  background:#4b554a;
  padding-top:4px;
  padding-bottom:1px;
  text-align:center;
}

.footer img {
  max-height: 31px;
  max-width: 88px;
}

@media only screen and (max-width: 390px) and (max-height: 844px) {
  body {
    background-image: url('../images/stardewvalley.png');
    background-size: cover;  /* Ensures the image covers the entire area without stretching */
    background-position: center center;  /* Keeps the center of the image visible */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, keeps the background fixed while scrolling */
  }

  .wrapper {
    flex-direction: column; /* Stack left and main containers in smaller screens */
    align-items: center;
    width: 100%;
  }

  .left-container {
    max-width: 100%;
    text-align: center;
  }

  .main {
    max-width: 100%;
  }
}
