.text-lost img {
    max-width: 400px;
    height: auto;
    border: 4px solid ; /* Adjust thickness and color as needed */
    border-radius: 8px; /* Optional: rounds the corners */
    padding: 4px; /* Optional: adds space between the image and the border */
  }

  @media only screen and (max-width: 600px) {
    .text-lost {
        max-width: 95%;
        text-align: center;
        padding: 10px;
    }

    .text-lost h1 {
        font-size: 1.5rem;
    }

    .text-lost img {
        max-width: 80%;
    }

    .main-lost {
        padding: 10px;
    }
}